.navbar{
    box-shadow: 6px 6px 13px #fff,
                6px 6px 13px rgba(0,0,0,.2);
}

.navbar-toggler{
    font-size: 20px !important;
    border: none !important;
}
.item{
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    transition: 0.1s ease;
    margin-right: 20px;
}
.item:hover{
    background-color: green;
    border-radius: 5%;
    color: #fff;
}
.pnav{
    font-weight: 700;
    margin-left: 8%;
    font-size: 25px;
    color: rgb(1, 1, 47);
}
.bot{
    border: none;
    border-radius: 50%;
    font-size: 20px;
}
.bot:hover{
    background: green;
    animation: c 40s linear infinite;
}
@keyframes c{
    0%, 100%{
        transform: translateY(5px);
    }
    50%{
        transform: translateX(8px);
       
    }
}
.phome{
    margin-top: 10%;
    margin-left: 10%;  
}
.phome1{
    font-size: 25px;
    color: green;
}
.phome2{
    font-size: 60px;
    font-weight: 900;
    margin-top: -18px;
    color: rgb(1, 1, 47);
}
.phome3{
    font-size: 20px;
    margin-top: -14px;
    font-weight: 600;
    color: rgb(1, 1, 47);
}
.qimage1{
    border-radius: 50%; 
    width: 400px; 
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.qimage2{
    border-radius: 40%; 
    width: 400px; 
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.qimage3{
    border-radius: 50%; 
    width: 400px; 
    height: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.order{
    background-color: rgb(1, 1, 47);
    color: #fff;
    border-radius: 2%;
    border: none;
    height: 35px;
    width: 120px;
    transition: 2s ease;
}
.order:hover{
    background: green;
}
.dishorder{
    background-color: rgb(1, 1, 47);
    color: #fff;
    border-radius: 2%;
    border: none;
    height: 35px;
    width: 120px;
    cursor: pointer;
}
.dishorder:hover{
    background: green;
}

.hcon{
    color: green;
}
.dish{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
h3{
    color: rgb(1, 1, 47);
}
.pdish{
    margin-top: 5%;
    font-weight: 700;
    font-size: 20px;
    margin-top: -1%;
    color: rgb(1, 1, 47);
}
.pstar{
    color: green;
    margin-top: -1%;
}
.pdollor{
    font-size: 23px;
    font-weight: 500;
    color: green;
}
.dishimg{
    height: 150px;
    width: 180px;
    border-radius: 50%;
}

.botdiv{
    display: flex;
    visibility: hidden;
}
.botimgl{
    border: none;
    border-radius: 50%;
    text-align: start;
    align-items: start;
    height: 30px;
    width: 30px;
}
.botimgl:hover{
    background: green;
}
.botimgr{
    border: none;
    border-radius: 50%;
    text-align: end;
    height: 30px;
    width: 30px;
    text-align: end;
    margin-left: 77%;
}
.botimgr:hover{
    background: green;
}
.card:hover .botdiv{
   visibility: visible;
}
.about{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
.abtimg{
    height: 380px;
    width: 380px;
    border-radius: 10%;
}
.aboutp{
    text-align: justify;
    font-weight: 600;
    margin-right: 15%;
}
.abth2{
    font-weight: 900;
    text-align: left;
    margin-top: 10%;
    font-size: 40px;
    color: rgb(1, 1, 47);
}
.abtbtn{
    border: 0.5px solid black;
    font-weight: 600;
    padding: 3%;
    padding-right:3%;
    padding-left: 3%;
    height: 40px;
    width: 160px;
}
.menuimg{
    height: 140px;
    width: 500px;
}
.pmenstar{
    color: green;
    margin-top: 3%;
    text-align: left;
}
.pmenfood{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    margin-top: -2%;
}
.learnbtn{
    background-color: rgb(1, 1, 47);
    color: #fff;
    border: none;
    margin-left: -7%;
    height: 40px;
    width: 140px;
    border-radius: 5%;
    margin-top: 4%;
}
.learnbtn:hover{
    background-color: green;
}
.pmen{
    text-align: start;
    font-weight: 500;
    margin-top: -2%;
}
.pmenbtn{
    background-color: rgb(1, 1, 47);
    color: #fff;
    border-radius: 2%;
    border: none;
    margin-left: -10%;
    height: 35px;
    width: 120px;
}
.pmenbtn:hover{
    background: green;
}
.mendollor{
    font-size: 22px;
    font-weight: 600;
    color: green;
    margin-left: -70%;
}
.menuimg{
    width: 220px;
    height: 180px;
}
.review{
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
.revimg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.prev{
    font-weight: 800;
}
.prevstar{
    color: green;
}
.rpdiv{
    text-align: justify;
    margin-left: 30%;
}
.revcon{
    text-align: start;
    font-weight: 600;
    margin-top: 4%;
}
.ordernow{
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    border: none;
}
.form-group{
    text-align: start;
    justify-content: start;
    font-weight: 700;
    padding: 3px;
}
input{
    width: 380px;
    border: none;
    background-color: whitesmoke;
    padding: 4px;
}
#address{
    padding-bottom: 150px;
}
#message{
    padding-bottom: 150px;
}
h4{
    color: rgb(1, 1, 47);
}
.contactp{
    margin-top: -2%;
    font-size: 15px;
    font-weight: 600;
    color: rgb(1, 1, 47);
}
.contactp:hover{
    text-decoration: underline;
}
.copy{
    text-align: center;
}
.orderbtn{
    background-color: rgb(1, 1, 47);
    justify-content: start;
    text-align: start;
    color: #fff;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    cursor: pointer;
}
.orderbtn:hover{
    background: green;
}
.bottom{
    width: 100%;
    text-align: center;
}
@media screen and (max-width:600px) {
    .qimage1{
        height: 250px;
        width: 250px;
        margin: 0 auto;
        margin-left: 10%;
        margin-top: 10%;
    }
    .qimage2{
        height: 250px;
        width: 250px;
        margin: 0 auto;
        margin-left: 10%;
        margin-top: 10%;
    }
    .qimage3{
        height: 250px;
        width: 250px;
        margin: 0 auto;
        margin-left: 10%;
        margin-top: 10%;
    }
    .phome2{
        font-size: 30px;
    }
    .phome1{
        font-size: 20px;
    }
    .abtimg{
        height: 270px;
        width: 270px;
    }
    input{
        width: 100%;
    }
    .rpdiv{
        margin-right: 30%;
        text-align: center;
    }
    .prevstar{
        margin-top: -5%;
    }
    .prev{
        margin-top: 5%;
    }
    .revcon{
        text-align: justify;
        font-size: 13px;
    }
    .aboutp{
        padding: 0 auto;
        margin: 0 auto;
    }
    .learnbtn{
        margin-left: 6%;
    }
    .mendollor{
        margin-left: -8px;
    }
    h4{
        margin-left: 30px;
    }
    .contactp{
        margin-left: 30px;
    }
}

@media screen and (min-width:769px) and (max-width:1024px){
    .dishorder{
        margin-left: -20%;
    }
    .mendollor{
        margin-left: -15%;
    }
    .pmenbtn{
        margin-left: 2%;
    }
    .rpdiv{
        margin-left: 35%;
    }
    .revcon{
        text-align: justify;
    }
    input{
        width: 360px;
    }
    .abtbtn{
        width: 140px;
        height: 50px;
    }
    .learnbtn{
        margin-left: 2%;
    }
}
@media screen and (min-width:601px) and (max-width:768px){
    .phome2{
        font-size: 40px;
    }
    .botimgr{
        margin-left: 90px;
    }
    .qimage1{
        width: 300px;
        height: 300px;
    }
    .qimage2{
        width: 300px;
        height: 300px;
    }
    .qimage3{
        width: 300px;
        height: 300px;
    }
    .dishimg{
        height: 120px;
        width: 150px;
        border-radius: 50%;
    }
    .pdollor{
        font-size: 18px;
    }
    .dishorder{
        height: 30px;
        width: 80px;
        font-size: 12px;
        margin-left: -30%;
    }
    .pdish{
        font-size: 18px;
    }
    .abtimg{
        height: 300px;
        width: 300px;
    }
    .abth2{
        font-size: 25px;
        margin-top: 2%;
        margin: 0 auto;
    }
    .aboutp{
        font-size: 12px;
    }
    .abtbtn{
        height: 30px;
        width: 100px;
        font-size: 10px;
    }
    .learnbtn{
        height: 30px;
        width: 100px;
        font-size: 12px;
    }
    .pmen{
        font-size: 15px;
    }
    .pmenbtn{
        height: 28px;
        width: 80px;
        font-size: 12px;
    }
    .mendollor{
        font-size: 20px;
        margin-left: 10%;
    }
    .prev{
        margin-left: -20%;
    }
    .prevstar{
        margin-left: -20%;
        font-size: 12px;
    }
    .revcon{
        text-align: justify;
        font-size: 12px;
    }
    input{
        width: 250px;
    }
    h4{
        /* font-size: 10px; */
        margin-bottom: -10%;
    }
    .contactp{
        font-size: 14px;
    }
}
